################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SE104_QLNS/.vs/SE104_QLNS/FileContentIndex
